
.login-first-container{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    border-radius: 5px;
}
.login-first-container image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.login-first-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Wycentrowanie w pionie i poziomie */
    width: 550px;
    padding: 50px;
    border-radius: 5px;
}
.login-first-form{
    display: flex;
    flex-direction: column;
    /*gap: 30px;*/
    text-align: center;
}
.login-first-form h3{
    font-size: 36px;
    font-weight: 600;
}
.login-first-form p{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #666;
}
.login-first-input{
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #0338a3;
    margin-bottom: 30px;
}
.login-first-button{
    padding: 20px;
    background-color: #0652dd;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-first-button:hover{
    background-color: #0642bd;
}
.login-first-register{
    margin-top: 20px;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}
@media (max-width: 768px) {
    .login-first-form h3{
        font-size: 24px;
    }
}
@media (max-width: 640px) {
    .login-first-content {
        width: 90%;
        padding: 0 20px;
    }
}