.page-about-fourth-back
{
    background-color: #f6f6f6;
    margin-bottom: 80px;
    border-radius: 20px;
}

.page-about-fourth-container{
    width: 1536px;
    padding: 100px 50px;
    margin: auto;
}
.page-about-fourth{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 35px 40px;
    border-left: 4px solid #0056d2;
    width: 100%;
    position: relative;
    /*box-shadow: 0 0 10px rgb(0,0,0,0.1);*/
}
.page-about-fourth h4{
    font-weight: 600;
    font-size: 32px;
    color: #222222;
}
.page-about-fourth p{
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.page-about-fourth button{
    position: absolute;
    right: 30px;
    top: 55px;
    padding: 10px 15px;
    background-color: #084bcf;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.page-about-fourth button:hover{
    background-color: #0338a3;
}

@media(max-width: 1536px)
{
    .page-about-fourth-container{
        width: 1366px;
    }
}
@media(max-width: 1366px)
{
    .page-about-fourth-container{
        width: 1280px;
    }
}@media(max-width: 1280px)
{
    .page-about-fourth-container{
        width: 1024px;
        padding: 80px 20px;
    }
    .page-about-fourth{
        width: 100%;
    }
    .page-about-fourth p{
        width: 80%;
    }

}@media(max-width: 1024px)
{
    .page-about-fourth-container{
        width: 768px;
    }
    .page-about-fourth h4{
        font-size: 28px;
    }
    .page-about-fourth p{
        font-size: 14px;
        width: 70%;
    }
}@media(max-width: 768px)
{
    .page-about-fourth-container{
        width: 640px;
    }
    .page-about-fourth{
        position: initial;
    }
    .page-about-fourth p{
        width: 90%;
    }
    .page-about-fourth button{
        margin-top: 10px;
        position: inherit;
    }
    .page-about-fourth-back
    {
        border-radius: 10px;
    }
}
@media(max-width: 640px)
{
    .page-about-fourth-container{
        width: auto;
    }
    .page-about-fourth{
        padding: 35px 20px;
    }
    .page-about-fourth p{
        width: 100%;
    }
}