.page-services-second-back{
    background-color: #f0f9ff;
    border-radius: 20px;
    margin: 50px 0 50px 0;
}
.page-services-second-container{
    width: 1536px;
    padding: 90px 50px 90px 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.page-services-second-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.page-services-second-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-bottom: 30px;
    width: 32%;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.page-services-second-card:hover {
    transform: translateY(-5px);
}

.page-services-second-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 20px;
}

.page-services-second-icon {
    width: 70px;
    height: 70px;
    background: #1063ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: 43%;
    top: 40%;
}

.page-services-second-icon img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.page-services-second-title {
    font-size: 24px;
    margin: 20px 0;
    color: #222;
}

.page-services-second-description {
    font-size: 16px;
    color: #666;
    display: inline-flex;
    width: 90%;
    margin-bottom: 10px;
}

.page-services-second-read-more {
    color: #1063ff;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.page-services-second-read-more:after {
    content: '→';
    margin-left: 5px;
}
.modal-service{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: flex-end;
}

.modal-content-service {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    min-width: 650px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.modal-content-service h2{
    padding: 15px 30px 0 20px;
    font-size: 26px;
    font-weight: 600;
}
.modal-content-service form{
    /*height: 80%;*/
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.model-content-service-head
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.modal-content-service-title
{
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}
.model-content-service-subtitle
{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 20px 0 20px;
}
.model-content-service-subtitle img{
    width: 40px;
    height: 40px;
    margin-top: 13px;
}
.close-modal-service {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.page-service-add-service
{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.page-service-add-service-data-button
{
    width: 100%;
    background-color: #3977ed;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.page-service-add-service-data-button:hover
{
    background-color: #2158ca;
}

.page-service-add-service-data{
    display: flex;
    align-items: center;
}
.page-service-add-service-data h5{
    font-size: 16px;
    color: #353535;
    min-width: 200px;
}
.page-service-add-service-data input{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}
.page-service-add-service-data textarea{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 100%;
    height: 150px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}
.page-service-add-service-data select{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}

@media (max-width: 1536px) {
    .page-services-second-container{
        width: 1366px;
    }
    .page-services-second-icon {
        right: 42%;
        top: 38%;
    }

}
@media (max-width: 1366px) {
    .page-services-second-container{
        width: 1280px;
    }
    .page-services-second-icon {
        top: 36%;
    }

}
@media (max-width: 1280px) {
    .page-services-second-container{
        width: 1024px;
        padding: 40px 20px 90px 20px;
    }
    .page-services-second-icon {
        right: 40%;
        top: 36%;
    }

}
@media (max-width: 1024px) {
    .page-services-second-container{
        width: 768px;
    }
    .page-services-second-title {
        font-size: 20px;
    }
    .page-services-second-icon {
        right: 35%;
        top: 35%;
    }

}
@media (max-width: 768px) {
    .page-services-second-container{
        width: 640px;
    }
    .page-services-second-back{
        border-radius: 10px;
    }
    .page-services-second-title {
        font-size: 20px;
    }
    .page-services-second-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
    .page-services-second-card {
        width: 100%;
    }
    .page-services-second-icon {
        width: 75px;
        height: 75px;
        right: 43%;
        top: 38%;
    }
    .page-services-second-title {
        font-size: 26px;
        margin: 20px 0;
        color: #222;
    }

    .page-services-second-description {
        font-size: 16px;
        margin-bottom: 10px;
    }

}
@media (max-width: 640px) {
    .page-services-second-container{
        width: auto;
    }
    .page-services-second-description {
        width: 90%;
        height: 80px;
    }
    .page-services-second-icon {
        width: 70px;
        height: 70px;
        right: 40%;
        top: 35%;
    }

}