.page-dashboard-first-back
{
    min-height: calc(100vh - 80px);
}
.page-dashboard-first-container{
    width: 1536px;
    padding: 25px 50px 100px 50px;
    margin: auto;
}
.page-dashboard{
    display: flex;
    gap: 15px;
    height: calc(100vh - 120px);
}
.page-dashboard-menu {
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(245, 245, 245, 0.3);
    width: 300px;
    border: 3px solid #c3c3c3;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 30px 30px 30px 30px;
}
.page-dashboard-menu-head
{
    display: flex;
    align-items: center;
    gap: 5px;

}
.page-dashboard-menu-head img{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.page-dashboard-menu-head h1{
    font-size: 26px;
    cursor: pointer;
    /*text-align: center;*/
}
.page-dashboard-menu span
{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    border: none;
    background-color: #cfcfcf;
}
.page-dashboard-menu-nav
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.page-dashboard-menu-sections
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 5px;
}
.page-dashboard-menu-sections button{
    display: flex;
    align-items: center;
    gap: 25px;
    border: none;
    background-color: inherit;
}
.page-dashboard-menu-sections h3{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}
.page-dashboard-menu-sections h3:hover{
    color: #1063ff;
}
.page-dashboard-menu-icon
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.page-dashboard-menu-user-profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.page-dashboard-menu-user-profile img{
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50px;
    margin-bottom: 5px;
}
.page-dashboard-menu-user-profile h3{
    font-size: 20px;
    font-weight: 600;
}
.page-dashboard-menu-user-profile p{
    font-size: 14px;
    font-weight: 500;
    color: #444;
}
.page-dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
}
.page-about-content-top
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*height: 40%;*/
    background-color: rgba(245, 245, 245, 0.3);
    border: 3px solid #c3c3c3;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 30px 30px 30px 30px;
    position: relative;
}
.page-about-content-top-first
{
    display: flex;
    /*flex-direction: column;*/
    gap: 90px;
    align-items: center;
    /*justify-content: flex-start;*/

}
.page-about-content-top-title h5
{
    font-size: 18px;
}
.page-about-content-top-title p{
    font-size: 16px;
    color: #777;
}
.page-about-content-imageContainer
{
    display: flex;
    align-items: center;
    gap: 35px;
}
.page-about-content-imageContainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #999;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.page-about-content-image-delete{
    font-size: 18px;
    color: #b10404;
    cursor: pointer;
}
.page-about-content-image-update{
    font-size: 18px;
    color: #0652dd;
    cursor: pointer;
}
.page-about-content-top-second{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.page-about-content-top-second-data{
    display: flex;
    align-items: center;
}
.page-about-content-top-second-data h5{
    font-size: 16px;
    color: #353535;
    width: 200px;
}
.page-about-content-top-second-data input{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 70%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}
.page-about-content-top-second-contact
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
}
.page-about-content-top-first-contact-subsections
{
    display: flex;
    align-items: center;
    gap: 30px;
}
.page-about-content-top-second-contact-data
{
    display: flex;
    align-items: center;
    width: 44%;
    justify-content: space-between;
}
.page-about-content-top-second-contact-data h5
{
    font-size: 16px;
    color: #353535;
}
.page-about-content-top-second-contact-data input
{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 70%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}

.page-dashboard-content-bottom {
    background-color: rgba(245, 245, 245, 0.3);
    border: 3px solid #c3c3c3;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-dashboard-content-bottom-details {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
}

.page-dashboard-content-bottom::-webkit-scrollbar {
    width: 8px;
}

.page-dashboard-content-bottom::-webkit-scrollbar-track {
    background: transparent;
}

.page-dashboard-content-bottom::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #aaaaaa;
}

.page-dashboard-button-logout
{
    background-color: #0652dd;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.page-dashboard-button-logout:hover{
    background-color: #0642bd;
}
.page-dashboard-button-logout button{
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.page-dashboard-edit-profile
{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}
.page-dashboard-edit-profile img{
    width: 40px;
    height: 40px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    min-width: 800px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal-content h2{
    font-size: 24px;
    font-weight: 600;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.page-dashboard-edit-profile-container
{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.page-dashboard-edit-profile-container-button
{
    width: 100%;
    background-color: #3977ed;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.page-dashboard-edit-profile-container-button:hover
{
    background-color: #2158ca;
}

.page-dashboard-edit-profile-container-data{
    display: flex;
    align-items: center;
}
.page-dashboard-edit-profile-container-data h5{
    font-size: 16px;
    color: #353535;
    min-width: 200px;
}
.page-dashboard-edit-profile-container-data input{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}
.page-dashboard-edit-profile-container-address
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.page-dashboard-edit-profile-container-address h5{
    font-size: 16px;
    color: #353535;
    width: 200px;
}
.page-dashboard-edit-profile-container-address input{
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    width: 70%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-size: 15px;
}
.page-dashboard-orders-user-title
{
    font-size: 24px;
}
.page-dashboard-orders-user-devices-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-dashboard-orders-user-single-device
{
    display: flex;
    align-items: center;
    /*gap: 20px;*/
}
.page-dashboard-orders-user-single-device h3
{
    font-size: 18px;
    width: 320px;
    cursor: pointer;
}
.page-dashboard-orders-user-single-device p
{
    font-size: 16px;
}
.page-dashboard-orders-user-single-order
{
    display: flex;
    align-items: center;
    gap: 5px;
    /*uwaga*/
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cfcfcf;
}
.page-dashboard-orders-line
{
    height: 2px;
    background-color: #000000;
    width: 100%;
    border-radius: 10px;
}
.page-dashboard-orders-user-single-id
{
    width: 130px;
}
.page-dashboard-orders-user-single-date-reception
{
    width: 130px;
}
.page-dashboard-orders-user-single-data-ending
{
    width: 130px;
}
.page-dashboard-orders-user-single-section-title
{
    color: #0338a3;
    margin-right: 5px;
}
.page-dashboard-orders-user-single-mark-model
{
    width: 230px;
}
.page-dashboard-orders-user-single-section-device
{
    color: #0652dd;
    min-width: 260px;
}
.page-dashboard-orders-user-single-show{
    padding: 10px 15px;
    background-color: #0056d2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}
.page-dashboard-orders-user-single-delete{
    padding: 10px 15px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 95px;
    text-align: center;
}
.modal-order{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-content-order {
    background-color: white;
    min-width: 800px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.close-modal-order {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.modal-order-details-title
{
    font-size: 26px;
}
.modal-order-details
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}
.modal-order-detail p{
    font-weight: 600;
}
.modal-order-detail div{
    color: #0652dd;
}
.modal-order-detail
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: solid 2px #cfcfcf;
}
.model-content-order-head
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-content-order-title
{
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}
.page-dashboard-admin-users
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-dashboard-admin-users h3{
    padding-left: 15px;
    font-size: 24px;
}

.page-dashboard-admin-single-user
{
    display: flex;
    align-items: center;
    gap: 5px;
    /*uwaga*/
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cfcfcf;
    width: 100%;
    cursor: pointer;
}
.modal-user{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-content-user {
    background-color: white;
    min-width: 800px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.close-modal-user {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.modal-user-details-title
{
    font-size: 26px;
}
.modal-user-details
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}
.modal-user-detail p{
    font-weight: 600;
}
.modal-user-detail div{
    color: #0652dd;
}
.modal-user-detail
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: solid 2px #cfcfcf;
}
.model-content-user-head
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.page-dashboard-admin
{
    display: flex;
    justify-content: space-between;
}
.page-dashboard-admin-single-user-id
{
    width: 130px;
}
.modal-employee{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-content-employee {
    background-color: white;
    min-width: 800px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.close-modal-employee {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.modal-employee-details-title
{
    font-size: 26px;
}
.modal-employee-details
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}
.modal-employee-detail p{
    font-weight: 600;
}
.modal-employee-detail div{
    color: #0652dd;
}
.modal-employee-detail
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: solid 2px #cfcfcf;
}
.model-content-employee-head
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-content-employee-title
{
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}
.page-dashboard-admin-employees
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-dashboard-admin-employees h3
{
    padding-left: 15px;
    font-size: 24px;
}
.page-dashboard-admin-single-employee
{
    display: flex;
    align-items: center;
    gap: 5px;
    /*uwaga*/
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cfcfcf;
    width: 100%;
    cursor: pointer;
}
.page-dashboard-admin-center-lines
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.page-dashboard-admin-center-lines span{
    width: 3px;
    height: 100%;
    background-color: #cfcfcf;
}

.modal-admin-order{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-content-admin-order {
    background-color: white;
    min-width: 800px;
    height: auto;
    border-radius: 10px;
    /*padding: 20px 30px 30px 30px;*/
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.close-modal-admin-order {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #555;
}
.modal-admin-order-details-title
{
    font-size: 26px;
}
.modal-admin-order-details
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}
.modal-admin-order-detail p{
    font-weight: 600;
}
.modal-admin-order-detail div{
    color: #0652dd;
}
.modal-admin-order-detail
{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px #cfcfcf;
}
.modal-admin-order-detail img{
    margin-left: 10px;
    cursor: pointer;
}
.model-content-admin-order-head
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-content-admin-order-title
{
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}
.page-dashboard-orders-user-single-show-admin{
    padding: 10px 15px;
    background-color: #0056d2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}
.page-dashboard-orders-user-single-order-admin
{
    display: flex;
    align-items: center;
    gap: 5px;
    /*uwaga*/
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cfcfcf;
}
.page-dashboard-orders-user-single-id-admin
{
    width: 130px;
}
.page-dashboard-orders-user-single-date-reception-admin
{
    width: 130px;
}
.page-dashboard-orders-user-single-data-ending-admin
{
    width: 130px;
}
.page-dashboard-orders-user-single-section-device-admin
{
    color: #0652dd;
    min-width: 260px;
}
.page-dashboard-edit-order-container-button
{
    margin-top: 10px;
    width: 100%;
    background-color: #3977ed;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 13px 17px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.page-dashboard-edit-order-container-button:hover
{
    background-color: #2158ca;
}
.page-dashboard-edit-order-container-input, .page-dashboard-edit-order-container-select
{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    color: #0652dd;
    font-weight: 500;
    border: 2px solid #0652dd;
}
.modal-admin-order-detail textarea{
    padding: 10px 15px;
    border-radius: 10px;
    width: 82%;
    height: 100px;
    font-size: 16px;
    border: 2px solid #0652dd;
    color: #0056d2;
}
.page-dashboard-admin-single-user-name
{
    width: 160px;
}
.page-dashboard-orders-user-single-show-admin-profile
{
    padding: 10px 15px;
    background-color: #0056d2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}
.page-dashboard-orders-user-single-show-orders
{
    padding: 10px 15px;
    background-color: #0056d2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}
.modal-content-edit-user
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}
.model-content-user-head-edit
{
    width: 100%;
    background-color: #f0f7f4;
    height: 70px;
    padding: 20px;
    border-bottom: 2px solid #dee8e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-content-user-title
{
    font-size: 18px;
    cursor: pointer;
    color: #404040;
}

@media(max-width: 1536px)
{
    .page-dashboard-first-container{
        width: 1366px;
    }
}
@media(max-width: 1366px)
{
    .page-dashboard-first-container{
        width: 1280px;
    }
}@media(max-width: 1280px)
{
    .page-dashboard-first-container{
        width: 1024px;
        padding: 50px 20px 80px 20px;
    }
}@media(max-width: 1024px)
{
    .page-dashboard-first-container{
        width: 768px;
    }
    .page-dashboard-menu-head h1{
        font-size: 24px;
    }
}@media(max-width: 768px)
{
    .page-dashboard-first-container{
        width: 640px;
    }
}
@media(max-width: 640px)
{
    .page-dashboard-first-container{
        width: auto;
    }
}