.hero-back{
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    border-radius: 5px;
}
.hero-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-container{
}
.hero-slider{

    width: 100%;
    margin: auto;
    overflow: hidden;
}
.hero-slides{
    width: 1536px;
    padding: 0;
    margin: auto;
    /*position: relative;*/
}
.hero-single-slide
{
    width: 100%;
    display: none;
    margin-left: 70px;
    /*margin-right: 20px;*/
}
.hero-single-slide.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}
.slider-prev
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 82%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    left: 3%;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

}
.slider-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 82%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    right: 3%;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

}
.slider-next:hover,.slider-prev:hover{
    background-color: hsla(0, 0%, 73%, 0.5);

}

@keyframes fade {
    from{opacity: 50%}
    to{opacity: 100%}
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);
}

.hero-content {
    max-width: 50%;
}
.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 35px;
    font-weight: 700;
}
.hero-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 45px;
}
.highlight {
    color: #1063ff;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}
.btn-primary {
    padding: 15px 30px;
    background-color: #1063ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #084bcf;
}

.btn-secondary {
    padding: 15px 30px;
    background-color: transparent;
    color: #1063ff;
    border: 2px solid #1063ff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
}
.btn-secondary:hover {
    background-color: #0749d6;
    color: white;
}
.hero-image img {
    min-width: 600px;
    width: 100%;
}

@media (max-width: 1536px) {
    .hero-slides{
        width: 1366px;
    }

}
@media (max-width: 1366px) {
    .hero-slides{
        width: 1280px;
    }

}
@media (max-width: 1280px) {
    .hero-slides{
        width: 1024px;
        padding: 0 20px;
    }

}
@media (max-width: 1024px) {
    .hero-slides{
        width: 768px;
    }

}
@media (max-width: 768px) {
    .hero-slides{
        width: 640px;
    }
    .hero-content h1 {
        font-size: 42px;
    }
    .hero-content p {
        font-size: 16px;
    }
    .hero-buttons {
        display: flex;
        gap: 15px;
    }
    .btn-primary {
        padding: 10px 35px;
        font-size: 14px;
    }
    .btn-secondary {
        padding: 10px 30px;
        font-size: 14px;
    }

}
@media (max-width: 640px) {
    .hero-slides{
        width: auto;
    }
    .hero-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*padding: 100px 0;*/
        /*height: auto;*/
        /*height: calc(100vh - 60px);*/
    }
    .hero-image{
        display: none;
    }
    .hero-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-content h1 {
        text-align: center;
        width: 80%;
    }
    .hero-content p {
        width: 80%;
        text-align: center;
    }

}