.page-contact-first-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.page-contact-first-card {
    /*background-color: yellow;*/
    padding: 40px 10px;
    height: 300px;
    /*width: 30%;*/
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.page-contact-first-card:hover {
    transform: translateY(-5px);
}

.page-contact-first-icon {
    width: 60px;
    height: 60px;
    background-color: #1063ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}

.page-contact-first-icon img {
    width: 35px;
    height: 35px;
}

.page-contact-first-title {
    font-size: 22px;
    color: #222;
}

.page-contact-first-description {
    font-size: 16px;
    color: #333;
}